<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form action="/user/login" method="POST">
    
            <label for="email">Email</label>
            <input name="email" type="email" 
            required
            placeholder="Enter email">
            <br>
            <br>
         
            <label for="name">Password</label>
            <input name="password" type="password" 
            required
            placeholder="Enter your password">
            <br><br>
            <button type="submit">Login
            </button>
        </form>
    </div>
</body>
</html>